@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Nav-bar start */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, div{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 3%;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a:hover {
    color: #0088a9
}
/* Nav-bar end */


#body main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.box {
    width: 300px;
    border-bottom: 20px solid #03a9f4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box h2 {
    color: #edf0f1;
    background: #03a9f4;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box ul {
    position: relative;
    background: #1f2024;
}

.box a {
    color: #edf0f1;
    font-weight: 500;
    background-color: transparent;
}

.box ul li {
    list-style: none;
    padding: 10px;
    background: #1f2024;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition: transform 0.5s;
}

.box ul li:hover {
    transform: scale(1.1);
    z-index: 100;
    background: #25bcff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    color: #edf0f1;
}